{% extends 'base.html' %}

{% block content %}
<div class="container">
	<!--News Layout-->
      <div class="row">
        <div class="col-md-12">
          <div class="section-title">
            <h1 class="text-center">Category: {{category.title}}</h1>
          </div>
        </div>
</div>
<div class="container">
  <div class="row">
      <div class="col-sm-12 col-md-8">
        <div class="row">
          {% for item in queryset %}
            <div class="col-sm-12 col-md-6  ">
              <div class="post">
                <a class="post-img" href="{{ item.get_absolute_url }}"><img src="{{item.image.url}}" alt="{{item.title}}"></a>
                <div class="post-body">
                  <div class="post-category">
                    {% for cat in item.categories.all %}
                      <a href="{% url 'list_news_by_category' cat.slug %}">{{cat.title}}</a>
                    {% endfor %}
                  </div>
                  <h3 class="post-title"><a href="{{ item.get_absolute_url }}">{{item.title}}</a></h3>
                    <ul class="post-meta">
                      <li>{{item.content|truncatewords:20 | safe}}</li>
                      <li>{{item.published|date:"F j, Y"}}</li>
                    </ul>
                </div>
              </div>
          </div>
          {% endfor %}
        </div>
        <!-- Pagination -->
        <div class="row">
          <nav aria-label="Pagination">
            <ul class="pagination pagination-template d-flex justify-content-center">
              {% if queryset.has_previous %}                
                <li class="page-item"><a href="?{{ page_request_var }}={{ queryset.previous_page_number }}" class="page-link"> <i class="fa fa-angle-left"></i></a></li>
              {% endif %}
              {% for page in queryset.paginator.page_range %}
                {% if page == queryset.number %}
                  <li class="page-link active"><a class="page_number" href="?page={{page}}">{{page}}</a></li>
                {% else %}
                  <li class="page-link"><a href="?page={{page}}">{{page}}</a></li>
                {% endif %}
              {% endfor %}
              {% if queryset.has_next %}
                <li class="page-item"><a href="?{{ page_request_var }}={{ queryset.next_page_number }}" class="page-link"> <i class="fa fa-angle-right"></i></a></li>
              {% endif %}
              </li>
            </ul>
          </nav>
        </div>
      </div>
        <div class="col-sm-12 offset-md-1 col-md-3">
            {% include 'newssidebar.html' with category_count=category_count %}
        </div>
 </div>
      
{% endblock %}



