        <div class="row">
          <div class="aside-widget">
            <div id="search-2" class="widget widget_search">
              <form action="{% url 'search_news' %}" method="GET" accept-charset="utf-8">
                <div class="input-holder clearfix">
                  <input type="search" class="search-field" placeholder="Search our news" value="" name="q" title="Search for:">
                  <button type="submit" class="edgtf-search-submit"><span aria-hidden="true" class=""><i class="fas fa-search"></i></span></button>
                </div>
              </form>
            </div>            
          </div>          
          <div class="aside-widget">
            <div class="section-title">
              <h2 class="title">Categories</h2>
            </div>
            <div class="category-widget">
              <ul>
                {% for cat in category_count %}
                <li><a href="{% url 'list_news_by_category' cat.categories__slug %}">{{ cat.categories__title }}<span>{{ cat.categories__title__count }}</span></a></li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
