/*General Styles */

html, body {
    overflow-x: initial;
}
body {
    background-color:#f8f5f0;
    padding-bottom:350px;
    font-family: 'Montserrat', sans-serif;
    position: relative;
    z-index: -2;
    
}

ul, ol {
    list-style: none;
    padding: 0;
}

li {
    padding:5px 8px 10px;
}

h1 {
    font-family: 'Neuton', serif;
    margin-bottom: 40px;
    letter-spacing: 1px;
}

/* Styles for Navigation */

.nav-item {
    padding:0 10px;
}

nav {
    background-color: transparent;
    -webkit-transition: background-color 500ms linear;
    -ms-transition: background-color 500ms linear;
    transition: background-color 500ms linear;  
}

nav.scrollnav {
    background-color: rgba(17,42,38,0.8);
    -webkit-transition: background-color 500ms linear;
    -ms-transition: background-color 500ms linear;
    transition: background-color 500ms linear;
}

.main-content {
    min-height:100vh;
    background-color:#f8f5f0;
}

/* Carousel Styles */
.carousel-indicators li {
    padding:0 !important;
}
.carousel-indicators .active {
    background-color: #977844;
}

.carousel-inner img {
    width: 100%;
    max-height: 460px
}

.carousel-control {
    width: 0;
}

.carousel-control.left,
.carousel-control.right {
	opacity: 1;
	filter: alpha(opacity=100);
	background-image: none;
	background-repeat: no-repeat;
	text-shadow: none;
}

.carousel-control.left span {
	padding: 15px;
}

.carousel-control.right span {
	padding: 15px;
}

.carousel-control .glyphicon-chevron-left, 
.carousel-control .glyphicon-chevron-right, 
.carousel-control .icon-prev, 
.carousel-control .icon-next {
	position: absolute;
	top: 45%;
	z-index: 5;
	display: inline-block;
}

.carousel-control .glyphicon-chevron-left,
.carousel-control .icon-prev {
	left: 0;
}

.carousel-control .glyphicon-chevron-right,
.carousel-control .icon-next {
	right: 0;
}

.carousel-control.left span,
.carousel-control.right span {
	background-color: #000;
}

.carousel-control.left span:hover,
.carousel-control.right span:hover {
	opacity: .7;
	filter: alpha(opacity=70);
}

/* Carousel Header Styles */
.header-text {
    position: absolute;
    top: 20%;
    left: 1.8%;
    right: auto;
    width: 96.66666666666666%;
    color: #fff;
}

.header-text h2 {
    font-size: 40px;
}

.header-text h2 span {
    background-color: #2980b9;
	padding: 10px;
}

.header-text h3 span {
	background-color: #000;
	padding: 15px;
}

.btn-min-block {
    min-width: 170px;
    line-height: 26px;
}

.btn-theme {
    color: #fff;
    background-color: transparent;
    border: 2px solid #fff;
    margin-right: 15px;
}

.btn-theme:hover {
    color: #000;
    background-color: #fff;
    border-color: #fff;
}


/* Multi-Item Carousel */
.MultiCarousel { float: left; overflow: hidden; padding: 15px; width: 100%; position:relative; }
.MultiCarousel .MultiCarousel-inner { transition: 1s ease all; float: left; }
.MultiCarousel .MultiCarousel-inner .item { float: left;}
.MultiCarousel .MultiCarousel-inner .item > div { text-align: center; padding:10px; margin:10px; background:#efefef; color:#fff;}
.MultiCarousel .leftLst, .MultiCarousel .rightLst { position:absolute; border-radius:50%;top:calc(50% - 20px); }
.MultiCarousel .leftLst { left:0; }
.MultiCarousel .rightLst { right:0; }
.MultiCarousel .leftLst.over, .MultiCarousel .rightLst.over { pointer-events: none; background:#977844; color:#fff; }

.btn-gold {
    background-color: #977844;
    border-color:#977844;
}

/* Homepage Category Items */
.homepage-category-image {
    width:100%;
    height:350px;
} 

/* Homepage News Items */
.post {
    position: relative;
    margin-bottom: 30px;
}

.post .post-img {
    display: block;
    overflow: hidden;
}

.post-img > img {
    width: 100%;
    -webkit-transition: 1.6s -webkit-transform;
    transition: 1.6s -webkit-transform;
    transition: 1.6s transform;
    transition: 1.6s transform, 1.6s -webkit-transform;
}

.post .post-body {
    position: relative;
    margin: -50px 0px 0px 3%;
    padding: 5%;
    background: #fff;
    z-index: 10;
}

.post .post-category {
    margin-bottom: 10px;
}

.post .post-title {
    font-size: 18px;
}

.post .post-title a {
    color:#112a26;
}

.post .post-meta {
    margin-bottom: 10px;
}

.post-meta li {
    display: inline-block;
    color: #97989b;
    font-size: 12px;
    text-transform: uppercase;
}

/* News Sidebars */
.aside-widget {
    margin-bottom: 30px;
    width: 100%;
}

.aside-widget .section-title .title {
    position: relative;
    display: inline-block;
    background-color: #f8f5f0;
    font-family: Neuton;
    letter-spacing:1px;
    font-size: 16px;
    text-transform: uppercase;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-right: 10px;
    z-index: 20;
}

/* .aside-widget .section-title::after {
    content: "";
    display: inline-block;
    height: 2px;
    background-color: #e8eaed;
    position: absolute;
    left: 0;
    right: 0;
    top: 10px;
    z-index: 10;
} */

.category-widget ul li {
    padding: 15px 0px;
    border-bottom: 1px solid #e8eaed;
}

.category-widget ul li a {
    display: block;
    text-transform: uppercase;
    font-weight: 700;
}

.category-widget ul li a span {
    float: right;
    font-size: 14px;
    color: #97989b;
    margin-left: 15px;
}


.widget.widget_search .input-holder, .widget.widget_search input {
    position: relative;
    display: inline-block;
    width: 100%;
    vertical-align: middle;
}

.widget.widget_search input {
    font-size: 16px;
    color: #928c81;
    background-color: transparent;
    border: 1px solid transparent;
        border-bottom-color: transparent;
        border-bottom-style: solid;
        border-bottom-width: 1px;
    border-bottom: 1px solid #2e2e2d;
    -webkit-transition: border-color .2s ease-out;
    -o-transition: border-color .2s ease-out;
    transition: border-color .2s ease-out;
}

.widget.widget_search button {
    position: absolute;
    top: 0;
    right: 0;
    text-align: center;
    color: #2e2e2d;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    -webkit-transition: color .2s ease-out;
    -o-transition: color .2s ease-out;
    transition: color .2s ease-out;
}

/*News Details Page Styles */
#post-header {
    padding-top: 120px;
    padding-bottom: 80px;
}

.page-header {
    position: relative;
    margin: 0;
    padding-top: 120px;
    padding-bottom: 80px;
    background-color: #1b1c1e;
}

.page-header .page-header-bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.page-header .page-header-bg::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(27, 28, 30, 0)), color-stop(90%, rgba(27, 28, 30, 0.8)));
    background: linear-gradient(180deg, rgba(27, 28, 30, 0) 0%, rgba(27, 28, 30, 0.8) 90%);
}

.page-header .post-category {
    margin-bottom: 10px;
}

.post-category a {
    color: #977844;
    font-weight: 700;
    font-size: 12px;
    text-transform: uppercase;
}

.page-header h1 {
    font-size: 41.053px;
    color: #FFF;
}

.page-header .post-meta li {
    color: #fff;
}

.post-meta li {
    display: inline-block;
    color: #97989b;
    font-size: 12px;
    text-transform: uppercase;
}

.post-nav .prev-post  {
    float: left;
    width: 45%;
    padding-right: 15px;
}

.post-nav .next-post {
    float: right;
    width: 45%;
    text-align: right;
    padding-left: 15px;
}

.post-nav .prev-post .post-img {
    float: left;
    margin-right: 15px;
}

.post-nav .next-post .post-img {
    float: right;
    margin-left: 15px;
}

.post-nav .post-img {
    display: block;
    width: 100px;
    overflow: hidden;
}

.post-nav .post-title {
    font-size: 14px;
    margin: 0px;
}

.post-nav .next-post span, .post-nav .prev-post span {
    font-weight: 700;
    color: #97989b;
    text-transform: uppercase;
    font-size: 12px;
}

/* Single Product Styles */
.product-title {
    display: block;
    margin: -7px 0 14px;
    font-family: Neuton;
    font-size: 40px;
    font-weight: 400;
    letter-spacing: 1px;
}
.product-price {
    font-size: 30px;
    font-family: Neuton;
    font-weight: 300;
}
.product-image {
    display: block;
    overflow: hidden;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
    height: 450px;
    margin: 0 auto;
}

.product-image > img {
    width: 100%;
    -webkit-transition: 1.6s -webkit-transform;
    transition: 1.6s -webkit-transform;
    transition: 1.6s transform;
    transition: 1.6s transform, 1.6s -webkit-transform;
}

.product-meta > span {
    display: block;
    font-family: Montserrat,sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    color: #928c81;
    font-size: 11px;
    line-height: 1.63em;
    letter-spacing: .16em;
}

.product-meta > span > * {
    font-family: Neuton,serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.63em;
    color: #727272;
    background-color: #f8f5f0;
    -webkit-font-smoothing: antialiased;
    text-transform: none;
    letter-spacing: 1px;
}

ul.social-sharing {
    padding: 0;
    margin: 0;
    list-style: none;
    display:inline-block;
}

ul.social-sharing li {
    display: inline-block;
}

ul.social-sharing li:not(:last-child) {
    margin-right: 15px;
}

ul.social-sharing li a {
    color: #727272;
}

ul.social-sharing li a:hover {
    color: #977844;
}

.product-sharing {
    margin:20px auto;
    border-top:1px solid #efefef;
    padding: 10px 0 0 0;
    
}

.nav-tabs .nav-link.active {
    color: #495057;
    border-bottom: #495057 solid 1px !important;
    background-color: transparent;
    border-color: transparent;
}

.nav-item {
    text-transform: uppercase;
    font-size: 15px;
}

.nav-tabs {
    border-bottom:0;
}

/* Footer styles */

footer{
    position:fixed;
    bottom:0;
    left:0;
    width:100%;
    height:350px;
    background:#112a26;
    color:#fff;
    z-index:-1;
    font-size: 0.85rem;
}

.footer-margin {
    margin-top:60px;
}

.footer-heading {
    text-transform: uppercase;
    color:#977844;
    letter-spacing:1px;
    font-size:0.75rem;
}

.btn-white {
    color: #000;
    background-color: #fff;
    border-color: #fff;
    text-transform: uppercase;
    letter-spacing:1px;
    font-size:0.9em;
    border-radius: 0;
}

.form-control {
    border-radius: 0;
    background-color: transparent;
}

footer a {
    color:#ffffff !important;
    pointer:cursor;
}

footer a:hover {
    color:#977844 !important;
    text-decoration:none;
}

.mt-20 {
    margin-top: 20px;
}

.mt-40 {
    margin-top: 40px;
}

.mt-80 {
    margin-top: 80px;
}
.mb-80 {
    margin-bottom: 80px;
}