{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,600,700,900|Neuton:300,400,700&display=swap" rel="stylesheet">     
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/5c4a70df72.js"></script>
    <script src="{% static 'js/custom.js' %}"></script>
</head>
<body>
    <nav id="navigation" class="navbar sticky-top navbar-expand-lg navbar-light">
      <a class="navbar-brand" href="#"><img src="/static/img/the-clothes-vault-logo-site.png" alt="The Clothing Vault Logo"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">Departments
            </a>
            <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>          
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">News</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact</a>
          </li>          
          
        </ul>
        <ul class="navbar-nav ml-auto nav-flex-icons">
          <li class="nav-item">
            <a class="nav-link waves-effect waves-light">
              <i class="fas fa-search"></i>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link waves-effect waves-light">
              <i class="fas fa-shopping-bag"></i>
            </a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-333" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              <i class="fas fa-user"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right dropdown-default"
              aria-labelledby="navbarDropdownMenuLink-333">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
        </ul>
      </div>
    </nav> 
    <main>
      <div class="main-content">
        <div class="container-fluid">
          <div class="row">
            {% block content %} {% endblock %}
          </div>
        </div>
      </div>
    </main>
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-lg-6 mt-80">
            <div class="row">
                <div class="col-sm-10">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div>
            </div>
            <div class="row mt-20">
                <div class="col-sm-10">
                  <h3 class="footer-heading">Quick Links</h3>
                  <div class="row">
                    <div class="col-sm-6">
                      <ul>
                        <li><a href="#" title="">Terms &amp; Conditions</a></li>
                        <li><a href="#" title="">Privacy Policy</a></li>
                        <li><a href="#" title=""> & Returns</a></li>
                      </ul>
                    </div>
                    <div class="col-sm-6">
                      <ul>
                        <li><a href="#" title="">Sizing Guide</a></li>
                        <li><a href="#" title="">Vintage Care</a></li> 
                      </ul>
                    </div>
                    </div>
                </div>
            </div>            
          </div>                     
        <div class="col-lg-6 mt-80">
          <div class="row justify-content-end">
            <div class="col-lg-10">
              <h3 class="footer-heading">Subscribe</h3>
              <div class="input-group">
                <input type="text" class="form-control form-control-lg" placeholder="Email" aria-label="Subscribe" aria-describedby="button-addon2">
                <div class="input-group-append">
                  <button class="btn btn-white" type="button" id="button-addon2">Subscribe</button>
                </div>
              </div>
            </div>
          </div>
          <div class="row justify-content-end">
            <div class="col-lg-10 mt-80">
              <h3 class="footer-heading">Follow Us</h3>
              <nav class="nav nav-icons">
                  <a class="nav-link" href="#!"><i class="fab fa-facebook-f"></i></a>
                  <a class="nav-link" href="#!"><i class="fab fa-twitter"></i></a>
                  <a class="nav-link" href="#!"><i class="fab fa-instagram"></i></a>
                   <a class="nav-link" href="#!"><i class="fab fa-pinterest-p"></i></a>
              </nav>              
              </div>
            </div>
          </div>          
        </div>          
      </div>
    </footer>    
</body>
</html>